<!-- 压缩文件上传组件 -->
<div class="file-selection">
    <div class="upload-area upload-area-themed"
         @click="triggerCompressionFileSelect"
         @dragover.prevent="handleCompressionDragOver"
         @dragleave.prevent="handleCompressionDragLeave"
         @drop.prevent="handleCompressionDrop"
         :class="{ dragover: compressionDragOver }">

        <el-icon size="48">
            <upload-filled />
        </el-icon>

        <h3>拖拽文件到此处，或点击选择文件</h3>
        <p>支持 ZIP、CBZ、CBR 格式的漫画文件</p>

        <input ref="compressionFileInput"
               type="file"
               multiple
               accept=".zip,.cbz,.cbr"
               @change="handleCompressionFileSelect"
               style="display: none;">
    </div>
</div>
