deep_translator==1.11.4
pyperclip==1.9.0
pyqt5_frameless_window==0.5.1
PySide6==6.9.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pyside6_fluent_widgets==1.8.1
pysidesix_frameless_window==0.7.3
Requests==2.32.3
screeninfo==0.8.1
zhconv==1.4.3
