<!-- 统一编辑对话框组件 -->
<el-dialog
    v-model="editDialog.visible"
    :title="editDialog.title"
    width="600px"
    :close-on-click-modal="false"
    append-to-body
    custom-class="modern-dialog dialog-theme-base"> <!-- 添加自定义类以应用特定样式 -->

    <div v-if="editDialog.type === 'harmonization_map'">
        {% include 'components/dialogs/harmonization-form.html' %}
    </div>

    <div v-else-if="editDialog.type === 'translation'">
        {% include 'components/dialogs/translation-form.html' %}
    </div>

    <div v-else>
        {% include 'components/dialogs/default-form.html' %}
    </div>

    <template #footer>
        <div class="dialog-footer modern-dialog-footer"> <!-- 使用 flex 布局 -->
            <!-- 左侧：危险操作 -->
            <div class="footer-left" v-if="editDialog.isEditing">
                <el-button
                    type="danger"
                    plain
                    @click="deleteCurrentEntry"
                    size="small"
                    class="delete-button">
                    <span class="material-symbols-rounded" style="vertical-align: middle; font-size: 1.2em; margin-right: 4px;">delete</span> 删除
                </el-button>
            </div>

            <!-- 右侧：主要操作 -->
            <div class="footer-right">
                <el-button @click="cancelEdit" size="large">取消</el-button>
                <el-button type="primary" @click="saveEdit" size="large">
                    <span v-if="editDialog.isEditing">保存修改</span>
                    <span v-else>添加</span>
                </el-button>
            </div>
        </div>
    </template>
</el-dialog>
